<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>Moodimizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Donate</a></li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <h6 class="dropdown-header">Account</h6>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a href="#">Login/Logout</a></li>
                <li><a href="#">Settings</a></li>
              </ul> dropdown menu
          </li> dropdown
        </ul>
    </div>
  </header> -->

</head>
<body data-no-turbolink="no">
  <% if logged_in? %>
    <p>Logged in as <strong><%= link_to current_user.username, user_path(current_user) %></strong></p>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to 'Login', new_session_path %>
  <% end %>

  <% if flash[:success] %>
    <div class="alert alert-success"><%= flash[:success] %></div>
  <% elsif flash[:failure] %>
    <div class="alert alert-danger"><%= flash[:failure] %></div>
  <% end %>
  <script>
    $('.alert').delay(2000).slideUp()
  </script>


<div class="container">
  <%= yield %>
</div>


</body>
</html>
