<br>
<br>
<br>
<h1>Welcome, <%= @user.username %>!</h1>
<h3><%= @user.email %></h3>

<hr>
<br>
<br>
<% @user.events.each do |u| %>
  <ul>
    <li><font size="5"><strong><%= link_to u.name, event_path(u) %></strong></font></li>
    <li><p><%= u.mood_id %></p></li>
  </ul>
<br>
<br>
    <div class="btn-group">
        <%= link_to 'Edit an event', events_edit_path(u), class: "btn btn-primary" %>
    </div>
    <div class="btn-group">
      <%= link_to 'Delete an event', events_destroy_path(u), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
    </div>
<hr>
<% end %>


<div class="container">
  <div class="btn-group">
    <%= link_to 'Add an event', events_new_path, class: "btn btn-primary" %>
  </div>
  <div class="btn-group">

      <%= link_to 'Edit Profile', users_edit_path, class: "btn btn-primary" %>

  </div>
  <div class="btn-group">
    <%= link_to "HOW YOU FEELIN'?", moods_path, class: "btn btn-large btn-info" %>
  </div>
</div>
